.footer-content{
  padding: 10px;
  text-align: center;

}

.footer-content.theme-light {
  background-color: var(--color-light-background-header);
  h2 {
    color: var(--color-light-text-primary);
  }
  h5 {
    color: var(--color-light-text-secondary);
  }
}

.footer-content.theme-dark {
  background-color: var(--color-dark-background-header);
  h2 {
    color: var(--color-dark-text-primary);
  }
  h5 {
    color: var(--color-dark-text-secondary);
  }
}

.footer-content.theme-red {
  background-color: var(--color-red-background-header);
  h2 {
    color: var(--color-red-text-primary);
  }
  h5 {
    color: var(--color-red-text-secondary);
  }
}

.footer-content.theme-blue {
  background-color: var(--color-blue-background-header);
  h2 {
    color: var(--color-blue-text-primary);
  }
  h5 {
    color: var(--color-blue-text-secondary);
  }
}
